.navigation {
    display: flex;

    &__item {

        list-style-type: none;

        margin: 0 35.7px 0 0;

        &:last-child {
            margin-right: 0; 
        }

    }

    &__link {
        @extend %typography-paragraph-l;
        color: $color-dark-s;
        text-decoration: none;
        text-decoration-line: 2px solid;
        &:hover {
            color: $color-light-s;
        }
    } 

    &__item--current &__link {
        color: $color-light-s;
        &:after {
            display: block;
            content: "";
            height: 3px;
            background-color: $color-primary;
            top: 100%;
        }
    }

    &--dark &__link {
        color: $color-dark-l;
        &:hover {
            color: $color-dark-xl;
        }
    }
}