.contacts {
    box-sizing: border-box;
    padding: 41px 40px 60px 40px; 
    background: url("./assets/image/footer-puppy.png") no-repeat right 40px bottom,
                url("./assets/image/background-tile.png"),
                radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) ,#211F20;

    margin: 0 auto;

    &__content {
        display: flex;
        gap: 159px;
    }

    &__suggestions {
        padding: 16px 0 0 0;
        max-width: 280px;
    }

    &__visit {
        padding: 16px 0 0 0;
        max-width: 302px;
    }

    &__title {
        @extend %typography-h3;
        color: $color-light-xl;
        margin: 0 0 40px 0;
        &--visit {
            max-width: 270px;
            margin-bottom: 32px;
        }
    }

    &__item {
        @extend %typography-h4;
        display: flex;
        align-items: center;
        text-decoration: none;
        img {
            margin-right: 20px;
        }
        span {
            display: inline-block;
            color: $color-primary;
            font-family: 'Georgia';
            font-weight: 400;
            font-size: 20px;
            line-height: 115%;
        }
        &--location1 {
            margin-bottom: 32px;
        }
        &--email {
            margin-bottom: 44px;
        }
    }

    $breakpoint-tablet: 1125px;
    @media screen and (max-width: $breakpoint-tablet) {
        padding: 30px 0 375px 0;
        background: url("./assets/image/footer-puppy.png") no-repeat center bottom,
                    url("./assets/image/background-tile.png"),
                    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) ,#211F20;
        &__content {
            max-width: 640px;
            margin: 0 auto;
            gap: 0;
            display: flex;
            justify-content: space-between;
        }    
        &__suggestions {
            padding: 0;
        }
        &__visit {
            padding: 0;
        }
    }

    $breakpoint-mobile: 670px;
    @media screen and (max-width: $breakpoint-mobile) {
        background: url("./assets/image/footer-puppy.png") no-repeat center bottom / 260px,
                    url("./assets/image/background-tile.png"),
                    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) ,#211F20;
        padding-bottom: 309px;
        &__title {
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 130%;
            letter-spacing: 0.06em;
            text-align: center;
        }
        &__content {
            display: flex;
            flex-direction: column;
            row-gap: 40px;
        }
        &__suggestions {
            max-width: none;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__visit {
            max-width: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .contacts__title {
                align-self: center;
                margin-bottom: 40px;
            }
        }
        &__item {
            &--location1 {
                padding-left: 10px;
                margin-bottom: 39px;
            }
            &--location2 {
                padding-left: 10px;
            }
        }
    }
}