.mobnav-btn {
    background-color: unset;
    position: relative;
    z-index: 20;
    border: none;
    &--rotated {
        transform: rotate(90deg);
    }
    transition: transform .5s;
}

@keyframes menu-slidein {
  from {
    right: -100%;
  }

  to {
    right: 0;
  }
}


.mobnav-overlay {

    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    z-index: 10;

    visibility: hidden;
    transition: visibility 0.75s;

    height: 100vh;
    z-index: 5;
    background-color: red;

    background: rgba(41, 41, 41, 0.6);

    &__content {

        width: 320px;
        height: 100%;

        position: absolute;
        top: 0;
        right: -100%;

        padding: 30px 10px 0 10px;

        box-sizing: border-box;

        background-color: $color-dark-3xl;

        transition: right 0.75s;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 160px;
    }

    &__logo {
        flex-basis: 190px;
    }

    &__button {
        flex-shrink: 0;
        margin-right: 41px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    &__item {
        list-style-type: none;
        &--current {
            .mobnav-overlay__link {
                color: $color-light-s;
                position: relative;
                &:after {
                    position: absolute;
                    content: "";
                    display: block;
                    top: 100%;
                    width: 100%;
                    height: 3px;
                    background-color: $color-primary;
                }
            }
        }
    }

    &__link {
        @extend %typography-mobile-menu;
        color: $color-dark-s;
        text-decoration: none;
    }

    $parent: &;

    &--visible {
        #{$parent}__content {
            animation: menu-slidein .75s;
            animation-direction: alternate;
            right: 0;
        }
        @media screen and (max-width: $breakpoint-tablet) {
            visibility: visible;
        }
    }

    &--light {
        #{$parent}__content {
            background-color: $color-primary-light;
        }
        #{$parent}__link {
            color: $color-dark-l;
            &:hover {
                color: $color-dark-3xl;
            }
        }
    }

}


