.mobnav-btn {
    background-color: unset;
    border: none;
    &--rotated {
        transform: rotate(90deg);
    }
}

.mobnav-overlay {

    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;

    padding: 30px 10px 0 10px;

    box-sizing: border-box;
    width: 320px;

    height: 100vh;

    display: none;

    background-color: $color-dark-3xl;

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 160px;
    }

    &__logo {
        flex-basis: 190px;
    }

    &__button {
        flex-shrink: 0;
        margin-right: 41px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    &__item {
        list-style-type: none;
        &--current {
            .mobnav-overlay__link {
                color: $color-light-s;
                position: relative;
                &:after {
                    position: absolute;
                    content: "";
                    display: block;
                    top: 100%;
                    width: 100%;
                    height: 3px;
                    background-color: $color-primary;
                }
            }
        }
    }

    &__link {
        @extend %typography-mobile-menu;
        color: $color-dark-s;
        text-decoration: none;
    }


    $parent: &;

    &--visible {
        @media screen and (max-width: 735px) {
            display: block;
        }
    }
    &--light {
        background-color: $color-primary-light;
        #{$parent}__link {
            color: $color-dark-l;
            &:hover {
                color: $color-dark-3xl;
            }
        }
    }
}


