%slider-nav-form {
    box-sizing: border-box;

    width: 52px;
    height: 52px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;

    border: {
        width: 2px;
        style: solid;
        color: $color-primary;
        radius: 100%;
    }
    
    &:hover {
        cursor: pointer;
        background-color: $color-primary-light;
        border-color: $color-primary-light;
    }
}

.slider {

    position: relative; 

    padding: 0 52px;

    &__wrapper {
        position: relative;

        padding: 0 30px;
        max-width: 990px;
        margin: 0 auto;

        display: flex;
        overflow-x: hidden;
    }

    &__slide {
        display: flex;

        justify-content: space-between;

        flex: 0 0 100%;

        &--left {
            margin-left: -100%;
        }

        &--shift_left {
            margin-left: -200%;
        }

        &--shift_right {
            margin-left: 0;
        }

        &--transition {
            transition: margin-left 1s;
        }

    }

    &__item {
        display: flex;
        justify-content: center;
    }

    &__mobile-buttons {
        display: none;
        justify-content: center;
        column-gap: 90px;
    }

    &__nav-inner {

        @extend %slider-nav-form;

        position: absolute;

        @media screen and ($breakpoint-mobile) {
            display: none;
        }

        top: calc(50% - 23px);

        &--left {
            left: 0;
        }

        &--right {
            right: 0;
        }
    }

    &__nav-outer {
        @extend %slider-nav-form;
    }

    @media screen and (max-width: $breakpoint-tablet) {

        &__wrapper {
            padding: 0 12px;
            max-width: 630px;
        }

        &__item {
            &:nth-child(3) {
                display: none;
            }
        }

    } 

    @media screen and (max-width: $breakpoint-mobile) {

        padding: 0 15px;

        &__wrapper {
            padding: 0;
        }

        &__slide {
            justify-content: center;            
        }

        &__nav-inner {
            display: none;
        }

        &__item {
            &:nth-child(2) {
                display: none;
            }
        }

        &__mobile-buttons {
            display: flex;
        }

        &__wrapper {
            margin-bottom: 20px;
        }

    }
}